@charset "ISO-8859-1";

header{ 
	height: 20%; 
	width:100%;
	color: white;
	background-color:#008080;
}
body{
	height: 60%;
	width: 100%;
	color: #f2f2f2;
}

#timetable { 
	float: center;
	width:100%;
	height: 50%;
	margin:20px;
	color:#008080;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	float: center;
	margin: 20px;
}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
	tr:nth-child(even) {
	  background-color: #dddddd;
	}
#register {
	height: 50%;
}
.buttons {
	margin: 20px;
	background-color: #008080; 
  	border: none;
  	padding: 16px 32px;
  	text-align: center;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
	background-color: white; 
  	color: #008080; 
  	border: 2px solid #4CAF50;	
}
.buttons:hover {
  background-color: #008080;
  color: white;
}
footer{
	height: 20%;
	width: 100%;
	background-color:#e6e6e6;
	
}
